/* RESET & TYPOGRAPHY */
:root {
  --blue1: rgb(153,193,241);
  --blue2: rgb(98,160,234);
  --blue3: rgb(53,132,228);
  --blue4: rgb(28,113,216);
  --blue5: rgb(26,95,180);
  --green1: rgb(143,240,164);
  --green2: rgb(87,227,137);
  --green3: rgb(51,209,122);
  --green4: rgb(46,194,126);
  --green5: rgb(38,162,105);
  --yellow1: rgb(249,240,107);
  --yellow2: rgb(248,228,92);
  --yellow3: rgb(246,211,45);
  --yellow4: rgb(245,194,17);
  --yellow5: rgb(229,165,10);
  --orange1: rgb(255,190,111);
  --orange2: rgb(255,163,72);
  --orange3: rgb(255,120,0);
  --orange4: rgb(230,97,0);
  --orange5: rgb(198,70,0);
  --red1: rgb(246,97,81);
  --red2: rgb(237,51,59);
  --red3: rgb(224,27,36);
  --red4: rgb(192,28,40);
  --red5: rgb(165,29,45);
  --purple1: rgb(220,138,221);
  --purple2: rgb(192,97,203);
  --purple3: rgb(145,65,172);
  --purple4: rgb(129,61,156);
  --purple5: rgb(97,53,131);
  --brown1: rgb(205,171,143);
  --brown2: rgb(181,131,90);
  --brown3: rgb(152,106,68);
  --brown4: rgb(134,94,60);
  --brown5: rgb(99,69,44);
  --light1: rgb(255,255,255);
  --light2: rgb(246,245,244);
  --light3: rgb(222,221,218);
  --light4: rgb(192,191,188);
  --light5: rgb(154,153,150);
  --dark1: rgb(119,118,123);
  --dark2: rgb(94,92,100);
  --dark3: rgb(61,56,70);
  --dark4: rgb(36,31,49);
  --dark5: rgb(0,0,0);
  --text: #f6f5f4;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Cantarell", -apple-system, BlinkMacSystemFont, "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.01em;
  word-spacing: -0.01em;
}
@media (min-width: 700px) {
  html, body {
    font-size: 18px;
  }
}
body {
  color: var(--text);
  background: linear-gradient(90deg, var(--red4) 0%, var(--red5) 100%);
}
svg {
  fill: var(--text);
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 3rem;
  font-weight: 800;
  line-height: 1.25;
}
a {
  color: var(--red1);
}

/* LAYOUT */
.container {
  width: 85%;
  margin: 0 auto;
  max-width: 900px;
}

.small-print {
  font-size: 1em;
  text-align: center;
  max-width: 30em;
  margin: 1.5rem auto 3rem;
}

/* HEADER */
header {
  padding: 3rem 0;
  text-align: center;
}

header h1 {
  margin: 0;
  display: flex;
  align-items: center;
  color: var(--light2);
}

header h1 svg {
  margin: 25px;
  height: 100px;
  width: auto;
  fill: var(--light2);
}

header h1 svg .dim {
  fill: var(--red1);
}

/* CONTENT */
.container h2 {
  text-align: center;
  margin: 5rem 0 2rem;
}

.description-row {
  background-color: var(--dark3);
  overflow: hidden;
  padding: 3rem 0;
}

.urllist-row {
  background-color: var(--dark4);
  color: var(--light2);
  overflow: hidden;
}

ul.urllist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  margin: 5rem 0 8rem; padding: 0;
  gap: 1rem;
}

ul.urllist li, ul.textlist li {
  background-color: var(--dark4);
  display: block;
  transition: all 200ms ease-in-out;
  border-radius: 10px;
}

ul.urllist li:hover, ul.textlist li:hover { background-color: var(--dark3); }
ul.urllist li:active, ul.textlist li:active { background-color: var(--dark5); }
ul.urllist li:hover svg,
ul.textlist li:hover img { transform: scale(1.3); transition: transform 300ms ease-in-out; }

ul.urllist li a {
  display: flex;
  text-decoration: none;
  color: var(--light3);
  font-weight: bold;
  font-size: 1.2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: 1em;
}

ul.urllist svg {
  display: block;
  width: 64px;
  height: auto;
  margin-bottom: 1rem;
  transition: transform 600ms ease-in-out;
}

/* FOOTER */
footer {
  font-size: 80%;
  background-color: var(--dark5);
  color: white;
  padding: 3rem 3rem 7rem;
  text-align: center;
}

footer a {
  text-decoration: none;
  font-weight: bold;
}
