.docs-background {
  background: alpha(currentColor, .05);
  border-radius: 12px;
}

#opaque-button-1 {
  color: var(--success-fg-color);
  background-color: var(--success-bg-color);
}

#opaque-button-2 {
  color: var(--warning-fg-color);
  background-color: var(--warning-bg-color);
}

#vscroll {
  padding-top: 12px;
  padding-bottom: 12px;
}

#hscroll {
  padding-left: 12px;
  padding-right: 12px;
}

.overview-tab-page {
  background: linear-gradient(to bottom right, var(--blue-1) 25%, var(--green-1));
}
