#custom-button-1 {
  color: var(--red-1);
  --accent-color: var(--red-1);
}

#custom-button-2 {
  color: var(--purple-1);
  --accent-color: var(--purple-1);
}

#custom-button-3 {
  --accent-bg-color: var(--green-5);
  --accent-fg-color: white;
  --accent-color: var(--green-1);
}

#custom-button-4 {
  --accent-bg-color: var(--orange-5);
  --accent-fg-color: white;
  --accent-color: var(--orange-1);
}

.tab-page {
  --accent-bg-color: rgb(255 255 255 / 60%);
  --accent-fg-color: rgb(0 0 0 / 80%);
  --accent-color: rgb(255 255 255 / 75%);
  background: hsl(from var(--hue) h s 20%);
}

.tab-page-color-8 {
  background: #363636;
}
