/*
 * This contains fallback styles. Style goes here when we are happy to let
 * themes use their own style, but we still need a good default in case they
 * don't.
 *
 * It will be loaded with the GTK_STYLE_PROVIDER_PRIORITY_FALLBACK priority,
 * meaning its priority is lower than themes, settings, applications, and user
 * provided styles.
 */

/* Preferences */

preferencespage label.h4 {
  font-weight: bold;
}

/* Shadows */

leaflet > dimming {
  background: rgba(0, 0, 0, 0.12);
}

leaflet > shadow {
  min-width: 56px;
  min-height: 56px;
}

leaflet > border {
  min-width: 1px;
  min-height: 1px;
  background: rgba(0, 0, 0, 0.05);
}

leaflet > shadow.left {
  background-image:
    linear-gradient(to right,
                    alpha(#000, 0.05),
                    alpha(#000, 0.01) 40px,
                    alpha(#000, 0) 56px),
    linear-gradient(to right,
                    alpha(#000, 0.03),
                    alpha(#000, 0.01) 7px,
                    alpha(#000, 0) 24px);
}

leaflet > shadow.right {
  background-image:
    linear-gradient(to left,
                    alpha(#000, 0.05),
                    alpha(#000, 0.01) 40px,
                    alpha(#000, 0) 56px),
    linear-gradient(to left,
                    alpha(#000, 0.03),
                    alpha(#000, 0.01) 7px,
                    alpha(#000, 0) 24px);

}

leaflet > shadow.up {
  background-image:
    linear-gradient(to bottom,
                    alpha(#000, 0.05),
                    alpha(#000, 0.01) 40px,
                    alpha(#000, 0) 56px),
    linear-gradient(to bottom,
                    alpha(#000, 0.03),
                    alpha(#000, 0.01) 7px,
                    alpha(#000, 0) 24px);
}

leaflet > shadow.down {
  background-image:
    linear-gradient(to top,
                    alpha(#000, 0.05),
                    alpha(#000, 0.01) 40px,
                    alpha(#000, 0) 56px),
    linear-gradient(to top,
                    alpha(#000, 0.03),
                    alpha(#000, 0.01) 7px,
                    alpha(#000, 0) 24px);
}
