expander {
  min-width: 16px;
  min-height: 16px;
  -gtk-icon-source: -gtk-icontheme('pan-end');
  &:dir(rtl) { -gtk-icon-source: -gtk-icontheme('pan-end-rtl'); }

  &:disabled { filter: Opacity(var(--disabled-opacity)); }

  &:checked { -gtk-icon-source: -gtk-icontheme('pan-downs'); }
}

expander-widget {
  @include focus-ring("> box > title");

  > box > title {
    border-radius: 6px;

    > expander {
      opacity: .7;
    }

    &:hover > expander,
    &:active > expander {
      opacity: 1;
    }
  }
}
