.accent-color-row color {
  min-width: 16px;
  min-height: 16px;
  border-radius: 16px;
}

.accent-color-row color:disabled {
  opacity: var(--disabled-opacity);
}

adaptive-preview {
  background: var(--overview-bg-color);
  color: var(--overview-fg-color);

  .screen-view {
    box-shadow: 0 2px 8px 2px RGB(0 0 0 / 7%),
                0 3px 20px 10px RGB(0 0 0 / 5%),
                0 6px 32px 16px RGB(0 0 0 / 2%),
                0 0 0 1px RGB(0 0 0 / #{if($contrast == 'high', 80%, 5%)});
    margin: 20px;

    > .shell-top-bar,
    > .shell-bottom-bar {
      background: black;
      color: white;
    }
  }
}
