/********************
 * GtkMessageDialog *
 ********************/

window.dialog.message {
  .titlebar {
    min-height: 20px;
  }

  box.dialog-vbox.vertical {
    margin-top: 6px;
    border-spacing: 24px;

    > box > box > box > label.title {
      font-weight: 800;
      font-size: 15pt;
    }
  }

  .dialog-action-area {
    border-spacing: 12px;
    margin-top: 0;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
  }
}

/********************
 * AdwMessageDialog *
 ********************/

window.messagedialog {
  background-color: $dialog_bg_color;
  color: $dialog_fg_color;

  @if $contrast != 'high' {
    &.csd {
      outline: none;
    }
  }

  .message-area {
    padding: 24px 30px;
    border-spacing: 24px;

    &.has-heading.has-body {
      border-spacing: 10px;
    }
  }

  .response-area {
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 12px;

    > button {
      margin-left: 6px;
      margin-right: 6px;
    }

    &.compact {
      padding-bottom: 0px;

      button {
        margin-bottom: 12px;
      }
    }
  }
}
