dialog.shortcuts .shortcuts-box {
  margin: 24px 12px;
  border-spacing: 24px;
}

.shortcuts-section {
  padding-top: 6px;
  padding: 6px 0;

  > row {
    margin: 0 6px;
    padding: 6px;
    border-radius: $card_radius - 3px;

    > box {
      border-spacing: 9px;
    }
  }

  > separator {
    background: if($contrast == 'high', $border_color, var(--card-shade-color));
    margin: 6px 0;
  }
}

shortcut-label {
  border-spacing: 6px;

  .keycap {
    background: color-mix(in srgb, currentColor 10%, transparent);
    box-shadow: inset 0 -2px var(--card-shade-color);
    border-radius: 6px;
    padding: 6px;
    min-width: 20px;
  }
}
